<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psychocactusproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_barry"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_barry_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".manager.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="sensorLandscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>