<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.psychocactusproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono_barry_cerca_grande"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono_barry_cerca_grande"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".manager.GameActivity"
            android:label="@string/title_activity_game"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="portrait" />
        <activity android:name=".manager.CanvasActivity"
            android:label="@string/title_activity_game"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen"
            android:screenOrientation="landscape" />
        <activity android:name=".manager.MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>